<div class="card text-center">
    <div class="card-header">
        Encuestas App
    </div>
    <div class="card-body">
        <h5 class="card-title">Aplicacion de Encuestas</h5>
        <p class="card-text">Jardín Infantil Sol de Pehuén</p>
    </div>
    <div class="card-footer text-muted">
        dev/javello Todos los derechos reservados ©
    </div>
</div>